#body{
    position: relative;
    top: 48px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
}