#content{
    width: calc(100% - 200px);
    min-height: calc(100vh - 48px);
    overflow: auto;
    padding: 0 8px 8px;
}
.contentSlide{
    transition: width 1s ease;
}

textarea{
    width: 100%;
    min-height: 50px;
    overflow: visible;
}