#content{
  width: calc(100% - 180px);
  min-height: calc(100vh - 48px);
  overflow: auto;
  padding: 8px;
}

@media(max-width: 500px){
    #guideWrapper{
      width: 0;
    }
    #content{
      width: 100%;
    }
  }