@import '~open-color/open-color';

#content {
  max-width: calc(1280px - 300px - 16px);
  width: calc(100% - 300px - 16px);
  margin: 8px;
  position: relative;
  top: 0px;
  right: 0px;
}
@media (max-width: 499px) {
  #content {
    width: calc(100% - 16px);
  }
}

.FABs {
  position: fixed;
  bottom: 0px;
  right: 8px;
  z-index: 1;

  display: flex;
  flex-direction: column;
}
.FAB {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background: $oc-indigo-5;
  opacity: 0.8;
  border-radius: 50% !important;
  box-shadow: 2px 2px 2px 0 grey;
  right: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
  svg {
    color: white;
    font-size: 30px;
  }
  img {
    width: 26px;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#fakeTextarea {
  min-height: 0;
  height: 0px;
  border: 0;
  width: 100%;
  opacity: 0;

  font-size: 0.9rem;
  position: absolute;
  top: -10000000px;
}
