#guideBack{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.705);
    z-index: 10;
}
#guideWrapper{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 312px;
    padding-top: 8px; 
    background: white;
}
#avatar{
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid green;
}
#avatar div{
    padding: 4px 0;
}
#avatar img{
    width: 100%;
    border-radius: 50%;
}
#name{
    font-size: 1.5rem;
    font-weight: bold;
}
#nickName{
    color: #5e5e5e;
}
#github img{
    width: 24px;
    vertical-align: bottom;
}
#github span{
    color: #5050ff;
    text-decoration: underline;
    font-size: 0.9rem;
}
#introduction{
    margin-top: 8px;
}

#menus{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px 0 20px;
}


@media(min-width: 500px){
    #guideBack{
        width: 0px;
    }
}