#guideWrapper{
    position: relative;
    overflow: hidden;
    width: 200px;
    border-right: 1px solid green;
}

#guide{
    height: calc(100vh - 48px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.menuSlide{
    /* animation: menuSlideIn 1s ease;
    animation-fill-mode: both; */
    transition: width 2s ease;
}

.list{
    padding: 4px 8px;
}
.list:hover{
    background: #42ff42;
    cursor: pointer;
}
.activeList{
    background: #76ff76;
}

@keyframes menuSlideIn{
    0% {
        width: 200px;
    }
    100%{
        width: 0px;
    }
}