#headerWrapper{
    position: relative;
    z-index: 1;
    width: 100%;
    background: rgb(180, 255, 180);
    box-shadow: 0px 3px 10px rgba(0,0,0,.4);
}
#header{
    width: 100%;
    padding: 0px 8px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(180, 255, 180);
}

#mennu{
    width: 24px; 
    height: 24px;
}
#profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#title{
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#logo{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.hover:hover{
    opacity: 0.7;
    cursor: pointer;
}