.list{
    padding: 8px 8px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.list:hover{
    background: #42ff42;
    cursor: pointer;
}
.activeList{
    background: #76ff76;
}
.activeListManual{
    background: #76ff76;
}
.subList .menuName{
    padding-left: 20px;
}
.subList .menuCnt{
    margin-right: 5px;
}

.menuName{
    height: 21px;
    overflow: hidden;
    min-width: 90px;
    font-weight: bold;
}

.menuOptions{
    min-width: 48px;
    text-align: right;
}
.menuOptions span{
    display: inline-block;
    min-width: 20px;
    text-align: right;
    margin-left: 4px;
}
.menuOptions svg{
    font-size: 20px;
    color: black;
    vertical-align: bottom;
}
