.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  background: white;
}
.notFound .title {
  text-align: center;
}
.goHome {
  font-size: 1.5rem;
  margin-top: 24px;
}
.goHome span {
  cursor: pointer;
  color: green;
  text-decoration: underline;
}
