.notFound{
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	color: green;
}
.notFound .title{
	text-align: center;
}
.goHome{
	text-decoration: underline;
	color: #0f0f0f;
	font-size: 1.5rem;
	margin-top: 24px;
}