.postList{
    font-size: 0.9rem;
    border-bottom: 1px solid grey;
    padding-top: 8px;
}
.postList:hover{
    background: #b3ffb3;
}
.postList .ql-toolbar{
    display: none;
}
.postList .ql-container{
    border: 0px !important;
}
.postList .ql-editor{
    height: 21px;
    overflow: hidden;
    padding-left: 22px !important;
}
.postList .ql-editor > * {
    cursor: pointer !important;
}
.postListHeader{
    display: flex;
    justify-content: space-between;
    height: 21px;
    overflow: hidden;
}
.postList .postTitle{
    padding: 0 8px;
    font-size: 1rem;
    font-weight: bold;
}
.postDate{
}
.postBody{
    padding-left: 22px;
    height: 21px;
    overflow: hidden;
}