.nav{
    text-align: right;
}

.post{
    padding: 20px 0 60px;
    border-bottom: 2px dotted green;
}
.inActiveNav{
    display: none;
    margin-right: 8px;
}
.activeNav{
    display: inline;
    color: blue !important;
}
