.postList{
    font-size: 0.9rem;
    border-bottom: 1px solid grey;
    padding-top: 8px;
}
.postList:hover{
    background: #b3ffb3;
}
.postListHeader{
    display: flex;
    justify-content: space-between;
    max-height: 42px;
    overflow: hidden;
}
.postList .postTitle{
    padding: 0 8px;
    font-size: 1rem;
    font-weight: bold;
}
.postDate{
}
.postBody{
    padding-left: 22px;
    height: 21px;
    overflow: hidden;
}