.quill {
	background: white;
	height: 100%;
    overflow: auto;
    position: relative;
}
.quillTitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
[name='title'] {
	width: 100%;
	font-size: 1.2rem;
	font-weight: bold;
	border: 0px;
	border-bottom: 1px solid black;
	outline: none;
	margin: 12px 0 0;
}
#editor {
	height: calc(100% - 200px);
}
#tags {
	margin: 10px 0;
}
#tagsTitle {
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 12px;
}
#editor label {
	margin-right: 12px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
#editor label:hover {
	text-decoration: underline;
}
#editor label input {
	cursor: pointer;
}
.editorButton {
	border: 0px;
	border-radius: 5px;
	background: #84ff84;
	height: 30px;
	font-size: 0.9rem;
	margin-left: 12px;
}
#content .ql-editor {
	padding: 0;
}
.ql-container {
	font-size: inherit !important;
}
.ql-syntax {
	min-width: 700px;
	overflow: auto;
	font-size: initial;
}
