#recents{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 10px 2% 10px 0;
	padding: 8px;
	border-radius: 8px;
	background: white;
	box-shadow: 0px 2px 2px 1px gray;
}
@media(max-width: 500px){
    #recents{
        width: 100%;
        margin: 20px 0 40px;
    }    
}