#settingWrapper {
  position: fixed;
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);

  button{
      text-transform: unset;
      text-align: left;
      font-size: 0.9rem;
  }
  .MuiButtonBase-root{
      justify-content: flex-start;
  }
  a{
      width: 100%;
  }
}

#setting {
  position: absolute;
  top: 50px;
  right: 4px;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px 0px black;
}
.settingList {
  display: block;
  width: 100%;
  padding: 4px 16px !important;
  border-radius: 10px !important;
  text-align: left;
  &:hover {
    background: #76ff76 !important;
    cursor: pointer;
  }
}

.googleLogout {
  font-size: 1rem !important;
  font-weight: bold !important;
  color: black !important;
  width: 100%;
  outline: 0;
  box-shadow: unset !important;
}
.googleLogout:hover {
  opacity: 1 !important;
}
.googleLogout div {
  background-color: transparent !important;
  padding: 0 !important;
}
.googleLogout span {
  padding: 0 !important;
}

@media (min-width: 1280px) {
  #setting {
    right: calc(50% - 640px);
  }
}
