* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	color: #202020;
	font-size: 16px;
	background: #f0f0f0;
}

a {
	cursor: pointer;
}
a:link {
	color: inherit;
	text-decoration: inherit;
}
a:visited {
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: inherit;
	text-decoration: inherit;
}

p {
	min-height: 21px;
	margin: 0px;
}

img,
button,
.no-drag {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

textarea {
	width: 100%;
	overflow: visible;
	resize: none;
	font-size: 16px;
	font: inherit;
	padding: 0;
	border: 1px solid gray;
}
textarea:focus {
	outline: 1px solid green;
}

#app {
	position: relative;
	width: 100%;
}

.slideMenu {
	transition: width 0.5s ease, left 0.5s ease;
}

@media (min-width: 1280px) {
	#header,
	#body {
		width: 1280px !important;
		margin: auto !important;
	}
	#setting {
		top: 50px;
	}
}

@media (max-width: 500px) {
	#setting {
		top: 50px;
	}
}
