*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  /* background: rgb(219, 250, 219); */
  color: #202020;
  font-size: 16px;
}

a {
	cursor: pointer;
}
a:link {
	color: inherit;
	text-decoration: inherit;
}
a:visited {
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: inherit;
	text-decoration: inherit;
}

p{
  min-height: 21px;
  margin: 0px;
}

textarea{
  width: 100%;
  min-height: 50px;
  overflow: visible;
  resize: none;
  font-size: 16px;
  font: inherit;
  padding: 0;
  border: 1px solid green;
}
#fakeTextarea{
  min-height: 0;
  height: 1px;
  width: 100%;
  opacity: 1;
  border: 0;
  opacity: 0;
}

#app{
  position: relative;
  width: 100%;
}

.menuSlide{
  transition: width 1s ease;
}


@media(min-width: 1280px){
  #header, #body{
    width: 1280px !important;
    margin: auto !important;
  }
}